<h1>Continuously Deploy with AWS CodePipeline</h1>

<table class="table table-striped table-hover h3">
  <thead>
    <tr>
      <th>Count</th>
      <th>What to say</th>
    </tr>
  </thead>
  <tbody>
    <% 1.upto 10 do |i| %>
    <tr>
      <td>
	<%= i -%>
      </td>
      <td>
	<% if @fb.fizz_buzz? %>
	<span class="label label-success">FizzBuzz</span>
	<% elsif @fb.fizz? %>
	<span class="label label-primary">Fizz</span>
	<% elsif @fb.buzz? %>
	<span class="label label-info">Buzz</span>
	<% else %>
	<%= @fb.current %>
	<% end %>
      </td>
    </tr>
    <% @fb.next %>  
    <% end %>
  </tbody>
</table>
