<h1>Continuously Deploy with AWS CodePipeline</h1>

<table class="table table-striped table-hover ">
  <tbody>
    <% 1.upto.16 do |i| %>
    <td>
      <%= i -%>
    </td>
    <td>
      <% if @fb.as_word == "FizzBuzz" %>
      <span class="label label-success">FizzBuzz</span>
      <% else %>
      <%= @fb.current %>
      <% end %>
    </td>
    <%= @fb.next %>  
    <% end %>
  </tbody>
</table>

  <li></li>
</ol>
