<h1>Continuously Deploy with AWS CodePipeline</h1>

<span class="fa fa-amazon"></span>

<ol>
<% 16.times do %>
  <li><%= @fb.as_word == "FizzBuzz" ? "<span class='fa fa-amazon'></span>" : "" -%><%= @fb.next %></li>
<% end %>
</ol>
