<h1>Continuously Deploy with AWS CodePipeline</h1>

<span class="fa fa-amazon"></span>

<%= content_tag(:span, :class => "fa fa-rocket") %>

<ol>
<% 16.times do %>
  <li><%= @fb.as_word == "FizzBuzz" ? content_tag(:span, :class => "fa fa-amazon") : "" -%><%= @fb.next %></li>
<% end %>
</ol>
