<h1>Continuously Deploy with AWS CodePipeline</h1>

<span class="fa fa-amazon"></span>

<span class ="fa fa-rocket"></span>

<ol>
<% 16.times do %>
  <li><%= @fb.as_word == "FizzBuzz" ? tag(:span, class: "fa fa-amazon") : "" -%><%= @fb.next %></li>
<% end %>
</ol>
